.ipynb_checkpoints
.env
.DS_Store
lecture notes
.ipynb_checkpoints/main-checkpoint.ipynb

Saturn_brochure.txt
Ceres_brochure.txt
Mars_brochure.txt
Jupiter_brochure.txt
Mercury_brochure.txt
Uranus_brochure.txt
Pluto_brochure.txt
Orcus_brochure.txt
