.ipynb_checkpoints
.env
.DS_Store
lecture notes
.ipynb_checkpoints/main-checkpoint.ipynb

Saturn.brochure
Ceres.brochure
Mars.brochure
Jupiter.brochure
Mercury.brochure
Uranus.brochure
Pluto.brochure
Orcus.Brochure
